* {
    box-sizing:border-box;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
/*    background: url("http://unisci24.com/data_images/wlls/5/186789-background.jpg");*/
    background: url("a.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headcontainer{
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
/*    position: -webkit-sticky;
    position: sticky; top: 0px;*/
    background: white;
    height: 100vh;
}

@media all and (max-width: 800px) {
    #headcontainer{
        display: flex;
        flex-flow: row wrap;
        /* This aligns items to the end line on main-axis */
        justify-content: flex-end;
        background: white;
        position: static;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #headcontainer{
        display: flex;
        flex-flow: row wrap;
        /* This aligns items to the end line on main-axis */
        justify-content: flex-end;
        background: white;
        position: static;
    }
}

#head{
    margin: 0px auto;
    width: 1024px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
/*    border-bottom: 2px solid;
    border-image-source: linear-gradient(45deg, rgb(255, 69, 0), rgb(250, 229, 66));
    border-image-slice: 1;*/
}

.imglogo{
    width: 100%;
    height: auto;
}

.imglogo img{
    width: 75%;
    margin: 0 auto;
    height: auto;
}

.logo{
    box-sizing: border-box;
    padding: 10px 0;
}

.logo a{
    font-family: 'Montserrat', sans-serif;
    color: orangered;
    text-decoration: none;
    font-size: 3em;
}

.logo a:active{
    color: blue;
}

.logo a:hover{
    color: blue;
}

.logo a:visited{

}

#logo{
    text-align: center;
    width: 30%;
    margin: 0 10px;
}

#menu{
    width: 60%;
    margin: 0 20px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.menubox{
    box-sizing: border-box;
    width: 20%;
    margin: 0px 10px;
    border-bottom: 5px solid white;
    color: black;
}

.menubox:hover{
    box-sizing: border-box;
    width: 20%;
    margin: 0px 10px;
    padding: 0;
    border-bottom: 5px solid teal;
    color: teal;
}

.menuboxfooter{
    box-sizing: border-box;
    width: 20%;
    margin: 0px 10px;
    border-bottom: 2px solid white;
    color: teal;
}

.menuboxfooter:hover{
    box-sizing: border-box;
    width: 20%;
    margin: 0px 10px;
    padding: 0;
    border-bottom: 2px solid teal;
    color: teal;
}

.alink{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    width: 100%;
    padding: 15px 0;
    display: inline-block;
    color: black;
}

.alink:hover{
    text-decoration: none;
    color: teal;
}

.alink:active{
    text-decoration: none;
    color: teal;
}

.alink:visited{
    text-decoration: none;

}

.alinksel{
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid blue;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

.alinksel:hover{
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid blue;
}

.alinksel:active{
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid blue;
}

.alinksel:visited{
    text-decoration: none;
}



/* Medium screens */
@media all and (max-width: 800px) {
    #logo{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        width: 100%;
    }

    #menu{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        width: 100%;
    }

    .menubox{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        width: 75%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #logo{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        width: 100%;
    }

    #menu {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        width: 100%;
    }
    .menubox {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        width: 90%;
        min-width: 180px;
    }
}

/* prin headcontainer */

/* prin maincontainer */

#maincontainer{
    margin: 0 auto;
    padding: 0;
}

@media all and (max-width: 800px) {
    #maincontainer{
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        /* This aligns items to the end line on main-axis */
        justify-content: center;
        align-items: center;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #maincontainer{
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        /* This aligns items to the end line on main-axis */
        justify-content: center;
        align-items: center;
    }
}

#banner{
    width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}

#bannerdivider{
    margin: 0 auto;
    padding: 20px 0;
    background: white;
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center;
    align-items: center;
}

#bannerdivider p{
    max-width: 1024px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

#bannerdividertop{
    margin: 0 auto;
    background: white;
    height: 75%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center;
    align-items: center;
}

#bannerdividertop p{
    max-width: 1024px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

#banner p{
    max-width: 1024px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;

}

/* Medium screens */
@media all and (max-width: 800px) {
    #banner p {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        font-size: 2.5em;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #banner p {
        /* On small screens, we are no longer using row direction but column */
        font-size: 2em;
    }
}

.headline{
    width: 1024px;
    margin: 0 auto;
    font-family: 'Bungee Shade', cursive;
    font-size: 1.5em;
    border-bottom: 2px solid orangered;
}

.headlinename{
    display: inline-block;
    border-top: 2px solid orangered;
    border-right: 2px solid orangered;
    border-left: 2px solid orangered;
    margin: 0 0 0 50px;
    padding: 0px 20px;
}

.name{
    font-style: italic;
    color: orangered;
}

.word{
    color: teal;
}

#introduction{
    margin: 50px auto;
    width: 1024px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
    height: 100vh;
/*    background: #F8F8F8;*/
}

.asidepic{
    width: 40%;
    background: rgba(198, 91, 124, .8);
}

.img{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10% 0;
}

.img img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
}

.articleintro{
    width: 60%;
    background: #F9ADA0;
    box-sizing: border-box;
    padding: 0 20px;
}

.articleintro p{
    box-sizing: border-box;
    padding: 0 0px 20px 0px;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    color:  	#303030;
}

.title{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    border-bottom: 1px solid #303030;
}

@media all and (max-width: 800px) {
    .asidepic{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 100%;
    }

    .articleintro{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 100%;
        text-align: center;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .asidepic{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 100%;
    }

    .articleintro {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

#skills{
    margin: 50px auto;
    width: 1024px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-content: center;
    height: 100vh;

}

.skillbox{
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
    background: rgba(91, 55, 88, 1);
/*    border-radius: 0px 0px 5px 5px;*/
/*    transition: width 500ms, height 500ms;*/
/*    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgb(255, 69, 0), rgb(250, 229, 66));
    border-image-slice: 1;*/
    justify-content: center ;
    align-content: center;
}

/*.skillbox:hover{
    background: rgba(91, 55, 88, 1);
}*/

.skillbox:nth-child(odd){

}

/*.skillbox:hover{
    border: 3px solid white;
}*/


.skillbox p{
    font-family: 'Playfair Display', serif;
    height: 150px;
    color: white;
    padding: 0 20px;
    font-size: 0.75em;
}

@media all and (max-width: 800px) {
    .skillbox{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }

}

/* Small screens */
@media all and (max-width: 500px) {
    .skillbox{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }

}

.skimg{
    width: 100%;
    height: 150px;
    text-align: center;
}

.skimg img{
    display: inline-block;
    vertical-align: middle;
    width: 35%;
}

.helper{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.boxtitle{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: white;
}

.boxbar{
    margin: 0px auto;
    width: 100%;
    height: 25px;
    text-align: center;
}

.progress2 {
    padding: 6px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 18px;
    border-radius: 15px;
    background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    width: 85%;
    background-color: rgba(4, 31, 30, 1);
    animation: progressAnimation 4s;
}


@keyframes progressAnimation {
    0%   { width: 5%; background-color: rgba(30, 45, 47, 1);}
    100% { width: 85%; background-color: rgba(4, 31, 30, 1); }
}

.boxcontainer{
    background: rgba(131, 182, 146, .8);
    padding: 20px 20px 0 20px;
/*    border-radius: 0px 0px 5px 5px;*/
}

.boxlink{
    margin: 15px 0;
    display: inline-block;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: rgba(91, 55, 88, 1);
    padding: 10px 0;
}

.boxlink:hover{
    background: rgba(145, 73, 106, 1);
    transition: 500ms;
}

.boxlink a{
    color: white;
    text-decoration: none;
}

#portfolio{
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
    background: url("stepi.jpg") center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));*/
    height: 100vh;

}

#portfolio1{
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
    background: url("stepii.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#portfolio2{
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
    background: url("stepiii.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.portbox{
    margin: 25px auto;
    width: 1024px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
/*    background:
            linear-gradient(to right, black 4px, transparent 4px) 0 0,
            linear-gradient(to right, black 4px, transparent 4px) 0 100%,
            linear-gradient(to left, black 4px, transparent 4px) 100% 0,
            linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
            linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
            linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
            linear-gradient(to top, black 4px, transparent 4px) 0 100%,
            linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;*/
}

.portbox:nth-child(2n){

}

.portimg{
    width: 60%;
    margin: 20px 0;
    box-sizing: border-box;
/*    background: rgba(249, 98, 125, .8);*/
    border: 20px solid rgba(249, 98, 125, .8);
}

.portimghldr{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 20px;
}

.portimghldr img{
    width: 100%;
    height: auto;
    opacity: 0;
}

.portimghldrlft{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 20px;
}

.portimghldrlft img{
    width: 100%;
    height: auto;
    opacity: 0;
}

.porttitle{
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    font-size: 1.5em;
    padding: 20px 0;
    border-bottom: 1px solid #303030;
}

.portart{
    width: 40%;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgba(249, 173, 160, 1);
}

.portart p{
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    color: #303030;
}

@media all and (max-width: 800px) {
    .portimg{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }
    .portart{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .portimg{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }
    .portart{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }
}

/* order */

@media all and (max-width: 800px) {
    .portimg:nth-child(odd){
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
        order: 2;
    }
    .portart:nth-child(odd){
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .portimg:nth-child(odd){
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
        order: 2;
    }
    .portart:nth-child(odd){
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }
}

/* prin maincontainer */

/* prin footcontainer */

#footcontainer{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
    padding: 0px 0 0 0;
    background: white;
    height: 100vh;
}

#foot{
    margin: 0px auto;
    width: 1024px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
/*    background: lightblue;*/
}

.top{
    width: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.top img {
    width: 50px;
    height: auto;

}

.top a{

}

.top a img{

}


.footmenu{
    width: 60%;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: start;
    align-items: center;
    margin: 0 20px 25px 20px;
    padding: 25px 0 0 0;
}

.mbflink{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    width: 100%;
    padding: 15px 0;
    display: inline-block;
    color: black;
}

.mbflink:hover{
    text-decoration: none;
    color: blue;
}

.mbflink:active{
    text-decoration: none;
    color: blue;
}

.mbflink:visited{
    text-decoration: none;

}

.mbfslink{
    text-decoration: none;
}

.mbfslink:hover{
    text-decoration: none;
}

.mbfslink:active{
    text-decoration: none;
}

.mbfslink:visited{
    text-decoration: none;
}

#contactForm{
    width: 45%;
    margin: 10px;
}

.contactForm{

}

#contactType{
    margin: 50px auto 0 auto;
    width: 1024px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
}

.contactType{
    width: 100%;
    margin: 0 0 25px 0;
}

.contactType img{
    width: auto;
    height: 25px;
}

.contactType ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

.contactType ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

@media all and (max-width: 800px) {
    #contactForm{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }
    #contactType{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }
    .mark{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #contactForm{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }
    #contactType{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }
    .mark{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
    }
}

.mark{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    padding: 0 20px;
    box-sizing: border-box;
}
/* prin footcontainer */

/* portfolio */

.portlang{
    width: 1024px;
    margin: 0 auto;
}

#gallerycontainer{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: flex-start;
}

.gallerysubimg{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
}

.imgbox{
    width: 30%;
    margin: 0 10px;
}

@media all and (max-width: 800px) {
    #gallerycontainer{
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        flex-flow: wrap;
        width: 90%;
        align-items: center;
    }
    .galleryaside{
        justify-content: space-around;
        flex-flow: wrap;
        width: 100%;
    }
    .gallerymain{
        justify-content: space-around;
        flex-flow: wrap;
        width: 100%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #gallerycontainer {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .galleryaside{
        flex-direction: column;
        width: 100%;
    }
    .gallerymain{
        flex-direction: column;
        width: 100%;
    }
}

.galleryaside{
    width: 20%;
}

.gallerymain{
    width: 80%;
}

.projectstory{

}

.projecttitle{
    width: 100%;
    display: inline-block;
}

.galleryimg{
    width: 100%;
    height: auto;
}

.galleryimg img{
    width: 100%;
    height: auto;
}

.tab-contentlist {
    display: none;
    width: 100%;
}

.tabs-contentlist{
    width: 100%;
}

.tabs-contentlist ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tabs-contentlist ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tab-501 {
    display: block;
    width: 100%;
}

#holder{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    justify-content: center ;
    align-items: center;
    height: 100vh;

}

#holder p{
    background-color: white ;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    font-size: 2em;
}